*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: red;
    color: black;
    font-size: 2.3rem;
}
span{
    color: aqua;
    display: none;
}